* {
    margin: 0;
    padding: 0;
}

body {
    /* Deixar do tamanho da tela do dispositivo */
    height: 100vh;
    background-color: #021017;
    color: #2BDEFD;
    /* Elementos não ultrapassem os limites; */
    box-sizing: border-box;
}



h1 {
    color: #ffffff;
    margin: 15px;
    border: 10px solid ;
    padding: 5px;
}

p {
    color: #ffffff;
}

footer {
    color: #771010;
}

a {
    color: #ffffff;
}

.texto-destaque {
    color: aquamarine;
}

.titulo-blog {
    color: burlywood;
}

.urgente {
    color: red;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.responsivo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }