@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* Deixar do tamanho da tela do dispositivo */
    height: 100vh;
    background-color: #021017;
    color: #2BDEFD;
    /* Elementos não ultrapassem os limites; */
    box-sizing: border-box;
    font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}



h1 {
    color: #ffffff;
    margin: 15px;
    border: 10px solid ;
    padding: 5px;
}

p {
    color: #ffffff;
}

footer {
    color: #771010;
}

a {
    color: #ffffff;
}

.texto-destaque {
    color: aquamarine;
    font-size: 24px;
}

.titulo-blog {
    color: burlywood;
    font-size: 36px;
}

.urgente {
    color: red;
}

.apresentacao {
    margin: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao__conteudo {
    width: 615px;
}

.container {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}

.responsivo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }